<div class="area">
  <ul class="circles">
    <div style="color: aliceblue" class="center myName">
      <h1 class="myName">Ranjith Kumar R</h1>
      <div>
        <div class=" myName">
          <u style="color: rgb(138, 227, 138)">Professional Programmer</u> and a
          <u style="color: rgb(138, 227, 138)">software engineer</u>
        </div>
        <br />
        <app-social-media></app-social-media>
        
        <br>
        <p class="lead">
          <a routerLink="about" class="w-20 btn btn-lg btn-outline-success fw-bold" style="padding: 10px;">Explore</a>
          <span style="margin-right: 20px;"> </span>
          <a routerLink="contact" class="w-20 btn btn-lg btn-outline-success fw-bold" style="padding: 10px;">Contact</a>
        </p>
      </div>
    </div>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
