<br><br><br><br><br><br><br><br>

<h2 class="page-title white-text teal">EXPERIENCE</h2><br>
<div class="card mb-4" style="max-width: 80%; 
background-color: rgb(178, 247, 195);margin-left: 50px;">
    <img src="../../assets/mphasisLogo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">Mphasis</h1>
      <h5>Software Engineer - Level 3</h5>
      <div class="card-text"><ul>
        <li>Joined as a new college graduate Software Engineer and excited to learn new things.</li>
        <li><b>Tools</b>: Angular,Java,Spring Boot</li>
      </ul></div>
      <div class="card-text"><small class="text-muted">June 22 - present</small>
    </div>
  </div>