<br /><br /><br /><br /><br /><br />
<h1 class="page-title white-text teal">SKILLS</h1><br>
<h5 class="page-title white-text fontstyle" >LANGUAGES AND WEB TECHNOLOGIES</h5><br>
<div class="container fontstyle">
  <div class="row my-3">
    <div class="col-md-4 mb-4">
      <div class="card text-center h-100 lightgreen">
        <div class="card-block">
          <h4 class="card-title mt-2">JAVA</h4>
          <img src="../../assets/java.png" alt="java" />
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card text-center h-100 lightgreen">
        <div class="card-block">
          <h4 class="card-title mt-2">HTML,CSS and JS</h4>
          <img src="../../assets/htmlCssJs.png" alt="image of html,css and js" />
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card text-center h-100 lightgreen">
        <div class="card-block">
          <h4 class="card-title mt-2">ANGULAR</h4>
          <img src="../../assets/angular.png" alt="angular" />
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card text-center h-100 lightgreen">
        <div class="card-block">
          <h4 class="card-title mt-2">Spring Boot</h4>
          <img src="../../assets/springBoot.png" alt="spring boot" />
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card text-center h-100 lightgreen">
        <div class="card-block">
          <h4 class="card-title mt-2">Bootstrap</h4>
          <img src="../../assets/bootstrap.png" alt="bootstrap" />
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card text-center h-100 lightgreen">
          <div class="card-block">
            <h4 class="card-title mt-2 mb-2">Typescript</h4>
            <img src="../../assets/ts.png" alt="Typescript" height="100" />
          </div>
        </div>
      </div>
    
  </div>
</div>
