<br /><br /><br /><br /><br /><br /><br /><br />
<h2 class="page-title white-text teal">EDUCATION</h2>
<br />
<div class="row my-3">
  <div class="col-md-4 mb-4">
    <div class="card lightgreen" style="width: 18rem; margin-left: 50px">
      <img src="../../assets/mit.jpg" class="card-img-top" alt="college" />
      <div class="card-body">
        <h5 class="card-title">Madras Institute of technology</h5>
        <p class="card-text">Chrompet,Chennai,India</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item lightgreen">
          <b>Degree</b>: Bachelor of Engineering in Electronics and
          Instrumentation
        </li>
        <li class="list-group-item lightgreen"><b>CGPA</b>:8.17/10</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card lightgreen" style="width: 18rem; margin-left: 50px">
      <img src="../../assets/buds.jpg" class="card-img-top" alt="college" />
      <div class="card-body">
        <h5 class="card-title">Buds Matric Higher secondary school</h5>
        <p class="card-text">Oddanchatram,Dindigul,TamilNadu</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item lightgreen">
          <b>Course</b>: Higher Secondary Education(HSC)
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card lightgreen" style="width: 18rem; margin-left: 50px">
      <img src="../../assets/buds.jpg" class="card-img-top" alt="college" />
      <div class="card-body">
        <h5 class="card-title">Buds Matric Higher secondary school</h5>
        <p class="card-text">Oddanchatram,Dindigul,TamilNadu</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item lightgreen">
          <b>Course</b>: Secondary school of leaving certificate(SSLC)
        </li>
      </ul>
    </div>
  </div>
</div>
