<br><br><br><br><br><br><br><br>

<h2 class="page-title white-text teal">ABOUT ME</h2><br>
<div class="card mb-4" style="max-width: 80%; 
background-color: rgb(178, 247, 195);margin-left: 50px;">
    <div class=" row  g-0">
      <div class="col-md-4" style="padding:5px">
        <img src="../../assets/photo.jpg" class="img-fluid rounded-start"  alt="Photo of Ranjith">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Hello! I'm a Software Engineer</h2>
          <p class="card-text">I'm a proud Alumnus of Madras Institute of technology. I studied Electronics and Instrumentation Engineering. Curretly I work as a Software Engineer. I love solving problems and working with web designing.</p>
          <p class="card-text"><small class="text-muted">Home Town:  <br> Happy man from Dindigul,Tamil Nadu.</small></p>
        </div>
      </div>
    </div>
  </div>